<h1 class="title">Leave a Message:</h1>

<form method="POST" action="/new">
    <div class="field">
        <label class="label" for="name">Name</label>
        <input class="input" name="name" type="text" required>
    </div>
    <div class="field">
        <label class="label" for="message">Message</label>
        <input class="input" name="message" type="text" required>
    </div>
    <div class="contro">
        <button class="button is-link">Submit</button>
    </div>
</form>