<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/new">New Message</a>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>


